<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Neobrutalism Sign-up Form</title>
    <style>

    </style>
</head>
<body class="container">
    <div class="form_area">
        <h4 class="title">Student Exam <br> Performance Prediction</h4>
        <form action="{{ url_for('predict_datapoint')}}" method="post">
        
            <div class="form_group">
                <label for="gender" class="sub_title">Gender</label>
                <select class="form-control form_style" name="gender" required>
                    <option class="placeholder" selected disabled value="">Select your Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="form_group">
                <label for="email" class="sub_title">Race or Ethnicity</label>
                <select class="form_style" name="ethnicity" placeholder="Enter you ethnicity" required>
                    <option class="placeholder" selected disabled value="">Select Ethnicity</option>
                    <option value="group A">
                        Group A
                    </option>
                    <option value="group B">
                        Group B
                    </option>
                    <option value="group C">
                        Group C
                    </option>
                    <option value="group D">
                        Group D
                    </option>
                    <option value="group E">
                        Group E
                    </option>
                </select>            </div>
            <div class="form_group">
                <label for="password" class="sub_title">Parental Level of Education</label>
                <select class="form_style" name="parental_level_of_education"
                placeholder="Enter you Parent Education" required>
                <option class="placeholder" selected disabled value="">Select Parent Education</option>
                <option value="associate's degree">
                    associate's degree
                </option>
                <option value="bachelor's degree">
                    bachelor's degree
                </option>
                <option value="high school">
                    high school
                </option>
                <option value="master's degree">
                    master's degree
                </option>
                <option value="some college">
                    some college
                </option>
                <option value="some high school">
                    some high school
                </option>
            </select>
            </div>
            <div class="form_group">
                <label for="password" class="sub_title">Lunch</label>
                <select class="form_style" name="lunch"
                placeholder="Enter you Lunch" required>
                <option class="placeholder" selected disabled value="">Select Lunch</option>
                <option value="free/reduced">
                    free/reduced
                </option>
                <option value="standard">
                    standard
                </option>
            </select>
            </div>
            <div class="form_group">
                <label for="password" class="sub_title">Test Preparation Course</label>
                <select class="form_style" name="test_preparation_course"
                placeholder="Enter you Test Preparation Course" required>
                <option class="placeholder" selected disabled value="">Select Test Preparation Course</option>
                <option value="completed">
                    completed
                </option>
                <option value="none">
                    none
                </option>
            </select>
            </div>
            <div class="form_group">
                <label class="sub_title">Writing Score out of 100</label>
                <input class="form_style" type="number" name="reading_score"
                    placeholder="Enter your Reading score" min='0' max='100' />
            </div>
            <div class="form_group">
                <label class="sub_title">Reading Score out of 100</label>
                <input class="form_style" type="number" name="writing_score"
                    placeholder="Enter your Reading Score" min='0' max='100' />
            </div>
            <div>
                <input class="btn" type="submit" value="Predict your Maths Score" required />
                
                <p>Math Score should be : <span class="link">{{results}}</span>
            </div>
        </form>
    </div>
</body>
</html>